h1 {
    background-color: #2B90B6;
    background-image: linear-gradient(45deg, #4EC5D4 10%, #146b8c 20%);
    background-size: 100%;
    padding-bottom: inherit;
    padding-bottom: 3px;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.slidev-vclick-target {
    transition: all 800ms ease;
}

.slidev-vclick-hidden {
    transform: scale(0);
}
